.article-list .title a {
  text-decoration: none;
  white-space: unset;
}

.header {
  z-index: unset;
}

.listbox .newer {
  display: none;
}

.pull-right {
  display: none;
}

.mask-hidden {
  z-index: unset;
}
